
cache/*
staDRIP_pcs_documentation_cache/*
staDRIP_pcs_documentation_files/*
figure/*
data/raw/*
results/var_filtered/*_fits.rds
results/cor_filtered/*_fits.rds
results/lasso_filtered/*_fits.rds
results/var_filtered_big_p/*_fits.rds
